div #iscity{
    font-size: 15px;
    color:black;
}
span #iscitys {
    color: lightslategray;  
}

#pyfooter{
    font-size: 13px;
    color: lightslategray
}

#pyfooter1{
    font-size: 13px;
    color: lightslategray
}