



/*右侧列表*/
div#rightSidebody{
    /* height: 1000px; */
    /* background-color: blue; */
    border:2px solid #000;
    border-radius: 5px;
    height:604px;
}
div#rightSidebody div#previewInfo{
    background-color: #ccc;
    border-bottom: 1px solid #929292;
    padding: 10px;
}




/* 下一页按钮 */
div#baseInfoButton{
    padding-left: 34%;
    padding-bottom: 30px;
}



